In [ ]:
# 변수 선언, 사용
x = 10
x + 1

11

코렙 파이썬 개발 환경입니다.

# 1. 제목
## 1.1 제목
### 1.1.1 제목

- 리스트 1
- 리스트 2
- 리스트 3
 - 들여쓰기 리스트 (공백 포함)

> 인용구문

1. 번호 리스트 1
2. 번호 리스트 2
3. 번호 리스트 3

In [ ]:
# 주석

x = 10 # 여기는 주석입니다

'''
여기는
여러줄
주석입니다
'''

"""
여기도
여러줄
주석입니다
"""

'\n여기도\n여러줄\n주석입니다\n'

In [ ]:
import keyword

print(keyword.kwlist)
# 키워드는 변수 이름으로 사용 금지

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 10진수
x = 42
print(x)

# 2진수 0b
y = 0b101010
print(y)

# 8진수 0o
z = 0o52
print(z)

# 16진수 0x
w = 0x2a
print(w)

42
42
42
42

In [ ]:
# 4.24 * 10^-3
x = 4.24e-3
print(x)

# 424000000
y = 424000000
z = 4.24e8
print(y)
print(z)

0.00424
424000000
424000000.0

In [1]:
# 문자열은 '', ""둘 다 사용 가능
string1 = 'Hello world'
string2 = "it's a beautiful day"

# 3중 따옴표
string3 = """ this is also
multi-line
string"""

# [] 문자열 중 몇번째 문자 반환
string = "Hello, World"
print(string[0])
print(string[7])

# + 문자열 합치기
greeting = "Hello"
name = "John"
print(greeting + ","+ name + ".")

# * 문자열 반복
word = "start"
print(word * 3)

# string.find 문자열이 몇번째부터 시작하는지 반환
string = "hello world"
print(string.find("world"))

H
W
Hello,John.
startstartstart
6

In [ ]:
# 타입 에러
# 숫자 10을 문자열로 형변환 >> str(10) == "10"
num = str(10)
text = "apple"
print(num + text)

10apple

In [ ]:
num = 10
float_num = float(num)
string_num = str(num)
bool_num = bool(num)

print(type(num))
print(type(float_num))
print(type(string_num))
print(type(bool_num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# 거듭제곱 **
print(10**2)
print(11//2)

100
5

In [ ]:
a = True
b = False
c = True

# and 둘 다 True여야 True 반환
# or 둘 중 적어도 하나가 True면 True 반환
print(a and b)
print(a and c)
print(a or b)
print(a or c)
print(b or c)

# A in B : A가 B안에 포함 되어있는지 확인 연산자
a = [1,2,3,4,5]
b = "Hello world~!"

print(4 in a)
print(7 in a)
print("w" in b)
" " in b # 공백

False
True
True
True
True
True
False
True

True

In [ ]:
name = "John"
age = 30
height = 180.5

print("My name is %s, I'm %d years old and my height is %.1f." % (name, age, height))
# .3f >> 소숫점 3째자리까지
# 10.f >> 앞에 공백 10자리를 비워놓겠다
# f >> 적힌 실수 그냥 프린트

num = 10
pi = 3.141592
print("num = %d" % num)
print("pi = %.2f" % pi)

first = "Jane"
second = "Doe"
age = 25
print("My name is %s %s and I am %d years old." % (first, second, age))

decimal = 42
binary = bin(decimal)
print("The decinal number %d is equal to the binary number %s." % (decimal, binary))

My name is John, I'm 30 years old and my height is 180.5.
num = 10
pi = 3.14
My name is Jane Doe and I am 25 years old.
The decinal number 42 is equal to the binary number 0b101010.

In [ ]:
name = "John"
age = 30
height = 170.5
print("My name is {} and I'm {} years old. My height is {:.1f}." .format(name, age, height))
print("My name is {2} and I'm {1} years old. My height is {0}." .format(height, age, name))
print("{2}, {1}, {0}".format(height, age, name))

pi = 3.141592
print("pi = {:3.2f}." .format(pi))

My name is John and I'm 30 years old. My height is 170.5.
My name is John and I'm 30 years old. My height is 170.5.
John, 30, 170.5
pi = 3.14.

In [ ]:
name = "John"
age = 30
height = 170.5
print(f"My name is {name} and I am {age} years old. My height is {height:.1f}.")
# 정수 d, 실수 f, 문자열 s.

My name is John and I am 30 years old. My height is 170.5.

In [ ]:
# 문제 1

name = "Tom"
age = 20
apple = 3
orange = 2
banana = 1
result = 1.23
score = 90
a = 10
b = 20
c = 30

print(f"""My name is {name} and I am {age} years old.
i have {apple} apple, {orange} orange and {banana} banana.
The result is {result}.
Your score is {score}%.
{a} + {b} = {c}
""")

My name is Tom and I am 20 years old.
i have 3 apple, 2 orange and 1 banana.
The result is 1.23.
Your score is 90%.
10 + 20 = 30

In [ ]:
A = input("a : ")
B = input("b : ")
int(A) + int (B)

num1 = int(input("a : "))
num2 = int(input("b : "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print(f"{num1} + {num2} = {add}")
print(f"{num1} - {num2} = {sub}")
print(f"{num1} * {num2} = {mul}")
print(f"{num1} / {num2} = {div}")

a : 10
b : 10
a : 10
b : 2
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0

In [ ]:
# 1. 초를 입력하면 분과 초로 표시하는 프로그램
sec = int(input("sec = "))
minute = sec // 60
second = sec % 60
print(f"{sec}초 = {minute}분 {second}초")

sec = 200
200초 = 3분 20초

In [ ]:
# 2. 분을 입력하면 일, 시간, 분으로 출력하는 프로그램 (몫 // , 나머지 %)
min = int(input("min = "))
day = min // (24*60)
hour = (min % (24*60)) // 60
minute = (min % (24*60)) % 60
print(f"{min}분 = {day}일 {hour}시간 {minute}분")

min = 1550
1550분 = 1일 1시간 50분

In [ ]:
# 3. 500만원을 년이율 5%로 복리 저금했을 때 5년 후의 원리금의 합계를 출력하는 프로그램
save = int(input("save : "))
percentage = 0.05
year = 5
total = save * (1 + percentage) ** year
print(f"원금 {save}를 {percentage}%로 {year}년 저금 시 총액 = {total : .0f}원")

save : 5000000
원금 5000000를 0.05%로 5년 저금 시 총액은  6381408원이 된다.

In [ ]:
# 4. 1부터 n까지의 합은 n(n+1)/2로 주어진다. 1~100까지의 합을 구하여 출력하는 프로그램
n = int(input("n = "))
sum = n * (n + 1) /2
print(f"1에서 {n}까지의 합 = {sum : .0f}")

n = 100
1에서 100까지의 합 =  5050

In [ ]:
# 5. 판매자가 딸기와 포도를 판매하고 있다. 포도 한 알의 무게는 75g이고 딸기 한 알의 무게는 113.5g이다. 사용자로부터 포도 알의 개수와 딸기의 개수를 입력받아 총 무게를 계산하는 프로그램
g = int(input("포도 알 개수 : "))
s = int(input("딸기 알 개수 : "))
weight = g * 75 + s * 113.5
print(f"포도 {g}알과 딸기 {s}알의 총 무게 = {weight}g")

포도 알 개수 : 10
딸기 알 개수 : 10
포도 10알과 딸기 10알의 총 무게 = 1885.0g