문자열 >> ' ', " ", """ """

'He said "it's so hot"'

"It's so wonderful"

len() 문자열 개수 반환

In [ ]:
# 문자열 합치기
s1 = "hello"
s2 = "World"
s1 + s2

In [ ]:
# 문자열 반복
s1 = "Ha"
s1 * 3

In [ ]:
# 문자열 길이 구하기
s1 = "Hello my name is Summer"
len(s1)

In [ ]:
s = "Hello world"
print(s[0]) # 인덱스 (0번부터 시작)
print(s[4])
print(s[10])
print(s[-1]) # 인덱스 -(정수값)를 붙이면 뒤에서 부터 시작
s[5] # 공백도 문자열에 포함

H
o
d
d

' '

In [ ]:
# 홀수번째 문자 추출 0(첫번째), 2(세번째), 4(다섯번째), ...
string = "abcdefghij"

result = ""
for i in range(len(string)) : # for i in range(10)
  if i % 2 == 0 :
    result = result + string[i]
print(result)

acegi

In [ ]:
# 문자열 슬라이싱
s = "hello world"
print(s[6::])
print(s[6:11:1])

print(s[:5:])
print(s[0:5:1])

print(s[::2])
print(s[0:11:2])

In [ ]:
string = "abcdefghij"
string[0:3:1] # 제일 마지막 end숫자는 제외. range도 마지막 수는 제외 하는 것 처럼

'adgj'

In [ ]:
# world 추출
string = "Hello world"
substring = string[6::1] # end는 생략 가능, end, step이 둘다 생략 된다면 string[6:]으로도 표시 가능 = string[6::]
print(substring)

world

In [ ]:
# hello 추출
string = "hello world"
sub = string[0:5:1]
print(sub)

hello

In [ ]:
# hello world에서 hlowrd부분 문자열 추출
string = "hello world"
sub = string[0::2] # == string[0:11:2] == string[::2]
print(sub)

hlowrd

In [ ]:
# 문자열 뒤집기
s = "hello world"
print(s[::-1])

In [ ]:
# 문자열 뒤집기
string = "hello, world"
reversed_s = string[::-1] # 처음부터 끝까지이긴 한데 뒤에서 부터 1씩 감소하는 문자열을 빼온다
print(reversed_s)

dlrow ,olleh

In [ ]:
s = "Hello"
print ("h" + s[1::])

hello

In [ ]:
s = "hello world"
S = s.upper()
print(S) # HELLO WORLD
print(s.upper()) # HELLO WORLD
print(s.capitalize()) # Hello world
print(s.title()) # Hello World
print(S.lower()) # hello world
print("Hello, World".swapcase()) # hELLO, wORLD

HELLO WORLD
HELLO WORLD
Hello world
Hello World
hello world
hELLO, wORLD

find와 index의 차이는 해당 문자열을 못찾았을 때 반환하는 값(-1, ValueError)이 다르다는 차이를 가진다.

In [ ]:
s = "hello, world"
print(s.find("o"))
print(s.rfind("o")) # 뒤에서 o라는 문자열을 찾는데 제일 먼저 나오는 문자열 >> 8번째의 o
print(s.index("o"))
print(s.rindex("o")) # 뒤에서 o라는 문자열을 찾는데 제일 먼저 나오는 문자열 >> 8번째의 o
print(s.count("o")) # 문자열 o의 개수 반환

4
8
4
8
2

In [ ]:
s = "  $hello,    world$"

print(s.strip())
print(s.rstrip())
print(s.lstrip())
print(s.strip("$"))
print(s.replace("o", "0"))

$hello,    world$
  $hello,    world$
$hello,    world$
  $hello,    world
  $hell0,    w0rld$

In [ ]:
s = "hello world"
print(s.split())
a = "apple,banana,peach"
print(a.split(","))
print(", ".join(["apple", "banan", "peach"]))

['hello', 'world']
['apple', 'banana', 'peach']
apple, banan, peach

# 사용자가 입력한 문자열에 대해 다음 물음에 답하라

In [ ]:
# 문자열의 문자수 출력
s = str(input("문자열을 입력하시오 : "))
print(len(s))

문자열을 입력하시오 : sdafefsasfefsa
sdafefsasfefsa의 문자수 =  14

KeyboardInterrupt: ignored

In [ ]:
# 문자열을 10번 반복
s = str(input("문자열을 입력하시오 : "))
print(s * 10)

In [ ]:
# 문자열의 첫 3문자 출력
s = str(input("문자열을 입력하시오 : "))
print(s[:3:])

In [ ]:
# 문자열이 마지막 3 문자 출력
s = str(input("문자열을 입력하시오 : "))
print(s[:-4:-1])

In [ ]:
# 문자열의 문자를 거꾸로 출력
s = str(input("문자열을 입력하시오 : "))
print(s[::-1])

In [ ]:
# 7번째 문자가 있으면 출력 없으면 문자가 없습니다 메세지를 출력
s = str(input("문자열을 입력하시오 : "))
if len(s) >= 7 :
  print(s[6])
else :
  print("문자가 없습니다")

In [ ]:
# 문자열에서 첫번째 문자와 마지막 문자를 제거한 문자열 출력
s = str(input("문자열을 입력하시오 : "))
print(s[1:-1:]

In [ ]:
# 문자를 모두 대문자로 변경하여 출력
s = str(input("문자열을 입력하시오 : "))
print(s.upper())

In [ ]:
# 문자를 모두 소문자로 변경하여 출력
s = str(input("문자열을 입력하시오 : "))
print(s.lower())

In [ ]:
# 문자열에서 'a'를 'e'로 변경여 출력
s = str(input("문자열을 입력하시오 : "))
print(s.replace("a", 'e'))

In [ ]:
# 문자열 처음 문자를 출력
s = str(input("문자열을 입력하시오 : "))
print(s[0])

In [ ]:
# 문자 a가 들어가는 단어를 키보드에서 입력받아 첫번째 줄에는 a까지의 문자열, 두번째 줄에는 나머지 문자열 출력
string = str(input("문자열을 입력하시오 : "))
# index = string.find("a")
# print(string[0:index + 1])
# print(string[index + 1:])

print(string.replace("a", "a\n"))

sp = string.split("a")
print(sp)
print("a\n".join(sp)) # sp + a\n

문자열을 입력하시오 : dfesasfesasafe
dfesa
sfesa
sa
fe
['dfes', 'sfes', 's', 'fe']
dfesa
sfesa
sa
fe

In [ ]:
# 리스트 컴프리헨션 - 1~10 중에서 짝수만 포함하는 리스트 생성
even = [i for i in range(1,11) if i % 2 == 0]
print(even)

In [ ]:
# 리스트 내 문자열이 길이를 구하는 예제
fruits = ['apple', 'cherry', 'banana', 'kiwi']
print([len(i) for i in fruits])

15
55

In [ ]:
# 1부터 10까지의 숫자 중에 짝수만 포함하는 리스트 생성
# [표현식 for 항목 in 반복가능객체 if 조건문]
[num for num in range(1,11) if num % 2 == 0]

# 1부터 10까지의 숫자 중에 짝수만 뽑아 거기에 더하기 1을 한 값들을 원소로 가지는 리스트 생성
[num + 1 for num in range(1,11) if num % 2 == 0]

# 1부터 10까지의 숫자 중에 짝수를 뽑아 그 수의 제곱들을 원소로 가지는 리스트 생성
[num ** 2 for num in range(1,11) if num % 2 == 0]

[4, 16, 36, 64, 100]

In [ ]:
# 리스트 내 모든 요소에 1을 더하는 예제
origion_list = [1,2,3,4,5]
print([i+1 for i in origion_list])
print([i+1 for i in [1,2,3,4,5]])

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [ ]:
# 리스트의 원소의 길이가 6 이상인 원소만 가지기
words = ["apple", "banana", "cherry", "durian", "watermelon"]
word_len = [i for i in words if len(i) >= 6]
print(word_len)

['banana', 'cherry', 'durian', 'watermelo']

In [ ]:
# 문자열 리스트에서 길이가 6 이상인 문자열만 대문자로 바꾸기
words = ['apple', 'banana', 'cherry', 'grape', 'watermelon']
result = [i.upper() for i in words if len(i) >= 6 ]
print(result)

['BANANA', 'CHERRY', 'WATERMELON']

In [ ]:
# 문자열 리스트에서 길이가 5 이상인 문자열만 대문자로 바꾸기
fruits = ['apple', 'cherry', 'banana', 'kiwi']
print([i.upper() for i in fruits if len(i) >= 5])

In [ ]:
# 문자열 리스트에서 길이가 5이상인 문자열만 원소로 가지는 리스트 생성
words = ["apple", "banana", "cherry", "durian"]
words_len_5 = [i for i in words if len(words) >= 5]

In [ ]:
list(range(1,10))

s = [1,2,3,4,5]
print(list(reversed(s)))

[5, 4, 3, 2, 1]

In [ ]:
# 3명 이상 친구이름 리스트를 작성하고 다음 내용 프로그램
'''
insert()로 맨 앞에 새로운 친구 이름 추가
insert()로 3번째 위치에 새로운 친구 이름 추가
append()로 마지막에 친구 추가
'''

friends = ['kim', 'park','hwang']
friends.insert(0, 'lee')
friends.insert(2, 'cho')
friends.append('bu')
print(friends))

['강감찬', '홍길동', '세종대왕', '이순신', '김유신', '광개토대왕']

In [ ]:
# 리스트 [1,2,3]에 대해 다음과 같은 처리
'''
두번째 요소를 17로 수정
리스트에 4,5,6 추가
첫번째 요소 제거
리스트 요소 순서대로 배욜
인덱스 3에 25 넣기
>>  3 4 5 25 17
'''
list = [1, 2, 3]
list[1] = 17
list = list + [4, 5, 6]
del list[0]
list = sorted(list)
list.insert(3, 25)
print(list)

1

TypeError: ignored

In [ ]:
# 0-~49까지의 수로 구성되는 리스트
list_49 = [i for i in range(0,50)]
print(list_49)

# 1~50까지의 수의 제곱으로 구성되는 리스트
list_50 = [i**2 for i in range(1, 51)]
print(list_50)

TypeError: ignored

In [ ]:
# 두개의 리스트 L,M을 생성하고 두 리스트의 각 요소의 합으로 구성되는 새로운 리스트 생성
L = [1, 2, 3]
M = [4, 5, 6]
k = []
for i in range(0, len(L)) :
  k.append(L[i] + M[i])
print(k)

[5, 7, 9]

In [ ]:
# 사용자로부터 5개의 숫자를 문자열로 입력 받아 각 숫자를 +로 연결한 문자열을 생성
connect = ""
for i in range(5) :
  s = str(input("숫자를 입력하라 :"))
  connect = connect + '+' + s
print(connect[1::])